body{
    margin: 0;
    text-align: center;
}

.square{
    background-color: rgb(0, 0, 0);
}

.gridContainer{
    width: 1000px;
    height: 1000px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;

    padding: 50px;
    background-color: rgba(0,0,0, .5);
}

.square:hover{
    opacity: 60%;
    transition: .3s;
}

.button{
    position: absolute;
    left: 10%;
    margin-top: 50px;
    font-size: 40px;
}